IMAGEKIT_UPLOAD_FOLDER=/posts
IMAGEKIT_PRIVATE_KEY=<YOUR_IMAGEKIT_PRIVATE_KEY>
IMAGEKIT_PUBLIC_KEY=<YOUR_IMAGEKIT_PUBLIC_KEY>  # Optional, only needed for client-side URL building.

AWS_S3_BUCKET=<YOUR_S3_BUCKET_NAME>
AWS_REGION=<YOUR_S3_REGION>
S3_KEY_PREFIX=<YOUR_S3_KEY_PREFIX>  # e.g. "posts"

AWS_ACCESS_KEY_ID=<YOUR_AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET_ACCESS_KEY>
